
@{
    ViewBag.Title = "ResetPasswordCommandAlert";
}

<h2>Reinitialisation de mot de passe</h2>
<hr />
<h3>Vous allez recevoir un courriel pour procéder à la reinitialisation de votre mot de passe</h3>
