@{
    ViewBag.Title = "Index";
}

<h2>Artistes</h2>
<div style="display: grid; grid-template-columns: 160px 60px 30px 30px 30px 30px 30px 30px">
    <input id="searchByName" type="search" style="width:150px; height:22px" class="form-control" placeholder="Recherche..." value="">
    <span id="doSearch" class="glyphicon glyphiconStyle glyphicon-search pointer" title="Recherche par mot-clées" style=""></span>
    <span id="sortNames" fieldtosort="names" class="sortArtists glyphicon glyphiconStyle glyphicon-user pointer" title="Trier par nom" style="color:dodgerblue !important"></span>
    <span id="sortVues" fieldtosort="vues" class="sortArtists glyphicon glyphiconStyle glyphicon-eye-open pointer" title="Trier par vues" style="color:black !important"></span>
    <span id="sortLikes" fieldtosort="likes" class="sortArtists glyphicon glyphiconStyle glyphicon-thumbs-up pointer" title="Trier par likes" style="color:black !important"></span>
</div>
<hr />
<div id="ArtistList">
    <!-- Periodically refreshed -->
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/partialRefresh")

    <script defer>
        let partialRefresh = new PartialRefresh("@Url.Action("GetArtistsList")", "ArtistList", 5, postRefreshCallBacks);
        function postRefreshCallBacks() {
            $("#searchByName").change(function () {
                let url = /Artists/ + "SetSearchArtistName?name=" + $("#searchByName").val();
                partialRefresh.command(url);
            });
            $("#searchByName").focus(function () {
                partialRefresh.pause();
                console.log("paused");
            });
            $("#searchByName").focusout(function () {
                partialRefresh.restart();
                console.log("restarted");
            });
            $('#doSearch').mouseup(function () {
                let url = /Artists/ + "SetSearchArtistName?name=" + $("#searchByName").val();
                partialRefresh.command(url);
            });
            $(".sortArtists").click(function () {
                $(".sortArtists").css("color", "black");
                let url = /Artists/ + "SortArtistsBy?fieldToSort=" + $(this).attr("fieldToSort");
                partialRefresh.command(url);
            });
        }

    </script>
}

