@{
    ViewBag.Title = "Index";
}

<h2>Artistes</h2>

<hr />
<div id="ArtistList">
    <!-- Periodically refreshed -->
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/partialRefresh")

    <script defer>
        let partialRefresh = new PartialRefresh("@Url.Action("GetArtistsList")", "ArtistList", 5);
    </script>
}

